.sideBarToggleButton:hover {
    background-color: #f3f3f3 !important;
  }
  
  .sidebarButton:hover {
    background-color: #dee8f9b8 !important;
    border-right: 3px solid #4e54ff !important;
  }
  